<html>
<head>
    <title>SF</title>
    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
    <!-- canvas for sketch -->
    <div id="sketch">
        <canvas id="sf_canvas" width="320" height="320"> </canvas>
        <!-- canvas for output overlay --> 
        <canvas id="sf_canvas_overlay" width="320" height="320"></canvas>
    </div>

    <div id="btns_div">
        <button id="btn_clear">Clear</button>
        <button id="btn_undo_stroke">Undo Stroke</button>
        <button id="btn_predict">Predict</button>
        <button id="btn_opt">Opt</button>
    </div>
    </div>
</body>

<script>
    // sketch input on canvas
    var canvas = $("#sf_canvas");
    var ctx = canvas.get(0).getContext("2d");
    var ctx_overlay = $("#sf_canvas_overlay").get(0).getContext("2d");
    var sketch = $("#sketch");
    var sketchWidth = sketch.width();
    var sketchHeight = sketch.height();
    var mouse = {x: 0, y: 0};
    var lastMouse = {x: 0, y: 0};
    var flag_draw = false;
    var cur_curve = [];
    var curves = [];
    var joints = [];

    // when page is loaded
    $(document).ready(function() {

        // start drawing by mouse push
        canvas.mousedown(function(e) {
            if (e.button == 0) {
                lastMouse.x = mouse.x;
                lastMouse.y = mouse.y;
                mouse.x = e.pageX - this.offsetLeft;
                mouse.y = e.pageY - this.offsetTop;
                flag_draw = true;
                cur_curve.push([mouse.x, mouse.y]);
            }
            else if (e.button == 1) {
                curves.pop();
            }
        });


        // draw curve by mouse move
        canvas.mousemove(function(e) {
            if(flag_draw) {
                lastMouse.x = mouse.x;
                lastMouse.y = mouse.y;
                mouse.x = e.pageX - this.offsetLeft;
                mouse.y = e.pageY - this.offsetTop;
                drawLine(lastMouse.x, lastMouse.y, mouse.x, mouse.y);
                cur_curve.push([mouse.x, mouse.y]);
            }
        });

        // stop drawing by mouse release
        canvas.mouseup(function(e) {
            if (e.button == 0) {
                flag_draw = false;
                if (cur_curve.length > 0)
                    curves.push(cur_curve);
                cur_curve = [];
            }
        });

        // mouse out of canvas
        canvas.mouseleave(function(e) {
            flag_draw = false;
            if (cur_curve.length > 0)
                curves.push(cur_curve);
            cur_curve = [];
        });


        // keyboard inputs  
        $(document).keydown(function(e) {
            //
            if (e.keyCode == 67) { // 'c'
                clear_all();
            }
            else if (e.keyCode == 90) { // 'z'
                joints = [];
            }
            else if ( e.keyCode == 80) { // 'p'
                predict_joints();
            }
            else if ( e.keyCode == 79) { // 'o'
                opt_joints();
            }
        });

        // buttons
        $("#btn_clear").click(function() {
            clear_all();
        });

        $("#btn_undo_stroke").click(function() {
            undo_stroke();
        });

        $("#btn_predict").click(function() {
            predict_joints();
        });

        $("#btn_opt").click(function() {
            opt_joints();
        });


        // set animation frame
        window.requestAnimationFrame(draw);
    });

    /*******  Task Functions  *******/
    function clear_all() {
        curves = [];
        cur_curve = [];
        joints = [];
        clearCanvas();
    }    

    function undo_stroke() {
        console.log(curves.length);
        curves.pop();
        console.log(curves.length);
    }

    function predict_joints() {
        var img = captureCanvas();
        $.ajax({
            type: "POST",
            url: "/input_img",
            data: img,
            contentType: "image/png",
            dataType: "json",
            success: function(data) {
                console.log(data);
                joints = data["joints"];
            }
        });
    }

    function opt_joints() {
        $.ajax({
            type: "POST",
            url: "/opt_joints",
            data: JSON.stringify({opt_times: 5}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data) {
                console.log(data);
                joints = data["joints"];
            }
        });
    }

    /*******  Drawing Functions  *******/
    // draw
    function draw() {
        // resize sf_canvas_overlay
        var canvas_overlay = $("#sf_canvas_overlay");
        canvas_overlay.width(sketchWidth);
        canvas_overlay.height(sketchHeight);
        // move sf_canvas_overlay
        canvas_overlay.css("top", sketch.offset().top);
        canvas_overlay.css("left", sketch.offset().left);

        clearCanvas();
        drawCurves();
        drawJoints();
        window.requestAnimationFrame(draw);
    }

    // draw all curves
    function drawCurves() {
        for (var i = 0; i < curves.length; i++) {
            var curve = curves[i];
            for (var j = 0; j < curve.length - 1; j++) {
                var x1 = curve[j][0];
                var y1 = curve[j][1];
                var x2 = curve[j+1][0];
                var y2 = curve[j+1][1];
                // drawLine(x1, y1, x2, y2);
             drawLine(...curve[j], ...curve[j+1]);
            }
        }

        // cur_curve
        for (var i = 0; i < cur_curve.length - 1; i++) {
            var x1 = cur_curve[i][0];
            var y1 = cur_curve[i][1];
            var x2 = cur_curve[i+1][0];
            var y2 = cur_curve[i+1][1];
            // drawLine(x1, y1, x2, y2);
             drawLine(...cur_curve[i], ...cur_curve[i+1]);
        }
    }

    // draw line
    function drawLine(x1, y1, x2, y2, w=5, c="black") {
        ctx.beginPath();
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2,y2);
        ctx.strokeStyle = c;
        ctx.lineWidth = w;
        ctx.stroke();
        ctx.closePath();
    }

    // draw joints
    function drawJoints() {
        for (var i = 0; i < joints.length; i++) {
            var joint = joints[i];
            var x = joint[0];
            var y = joint[1];
            ctx_overlay.beginPath();
            ctx_overlay.arc(...joint, 5, 0, 2*Math.PI);
            ctx_overlay.fillStyle = "red";
            ctx_overlay.fill();
            ctx_overlay.closePath();
        }

        if (joints.length == 11) {
            drawBody();
        }
    }

    // draw body
    function drawBody() {
        var links = [
            [0,1], [1,2],
            [1,3], [3,4],
            [1,5], [5,6],
            [0,7], [7,8],
            [0,9], [9,10]
        ]

        for ( var i = 0; i < links.length; i++) {
            var link = links[i];
            var j1 = link[0];
            var j2 = link[1];
            var x1 = joints[j1][0];
            var y1 = joints[j1][1];
            var x2 = joints[j2][0];
            var y2 = joints[j2][1];
            ctx_overlay.beginPath();
            ctx_overlay.moveTo(...joints[j1]); //x1, y1);
            ctx_overlay.lineTo(...joints[j2]);//x2,y2);
            ctx_overlay.strokeStyle = "blue";
            ctx_overlay.lineWidth = 2;
            ctx_overlay.stroke();
            ctx_overlay.closePath();

        }
    }

    // clear canvas
    function clearCanvas() {
        // fill canvas with white
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, sketchWidth, sketchHeight);
        // ctx.clearRect(0, 0, sketchWidth, sketchHeight);
        ctx_overlay.clearRect(0, 0, sketchWidth, sketchHeight);
    }

    // capture canvas
    function captureCanvas() {
        var img = canvas.get(0).toDataURL("image/png");
        return img;
    }


</script>
